/* 表單樣式 */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  /* 表單標題樣式 */
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* 表單欄位樣式 */
  .formly-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  /* 表單欄位標籤樣式 */
  .formly-field label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* 表單欄位輸入框樣式 */
  .formly-field input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
  }
  
  /* 表單欄位輸入框樣式 - 焦點狀態 */
  .formly-field input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* 表單按鈕樣式 */
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* 表單按鈕樣式 - 滑鼠懸停狀態 */
  button[type="submit"]:hover {
    background-color: #0069d9;
  }

  .formly-field-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .formly-field {
    flex: 1 0 30%; /* grow, shrink, basis */
    margin: 5px;
    box-sizing: border-box;
  }
  .my-button-class1 {
    background-color: rgb(255, 0, 170);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .my-button-class {
    background-color: rgb(229, 255, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    height: 50px; /* 設置按鈕的高度 */
    display: flex; /* 設置按鈕為彈性容器 */
    justify-content: center; /* 設置按鈕的內容居中對齊 */
    align-items: center; /* 設置按鈕的內容垂直居中對齊 */
    position: fixed; /* 設置按鈕為固定定位 */
    bottom: 0; /* 設置按鈕在頁面的底部 */
    left: 50%; /* 設置按鈕在頁面的左側 */
    transform: translateX(-50%); /* 將按鈕水平居中 */
  }
  button.formly-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    height: 50px; /* 設置按鈕的高度 */
    display: flex; /* 設置按鈕為彈性容器 */
    justify-content: center; /* 設置按鈕的內容居中對齊 */
    align-items: center; /* 設置按鈕的內容垂直居中對齊 */
    position: relative; /* 設置按鈕為相對定位 */
    z-index: 1; /* 設置按鈕的 z-index 值 */
  }
  